.sections-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .text-section {
        padding: 2rem 3rem;
    }

    .section-mission {
        display: flex;
        flex-direction: row;

        .section-mission-left,
        .section-mission-right {
            width: 50%;

            display: flex;
            flex-direction: column;
        }

        .section-mission-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .section-mission-mockups-label {
                font-style: italic;
                padding: 0 2rem;
                text-align: center;
            }

            .section-mission-mockups {
                width: 100%;
            }
        }

        .section-mission-tags {
            display: flex;
            flex-wrap: wrap;

            list-style-type: none;

            gap: 0.5rem;
            padding: 0;
            margin: 0;

            margin-bottom: 1.5rem;

            .section-mission-tag-container {
                padding: 0;

                .section-mission-tag-icon {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .section-definition {
        background-color: var(--background-open-blue-france);
    }

    .section-why {
        .section-why-boxes-container {
            display: flex;
            flex-direction: row;

            gap: 1rem;
            margin: var(--text-spacing);

            .section-why-box {
                width: calc(100% / 3);
                background-color: var(--background-alt-grey);
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .sections-container {
        .text-section {
            padding: 1rem 0;
        }

        .section-definition {
            padding: 1rem;
        }

        .section-mission {
            flex-direction: column;

            .section-mission-left,
            .section-mission-right {
                width: 100%;
            }
        }

        .section-why {
            .section-why-boxes-container {
                flex-direction: column;

                .section-why-box {
                    padding: 1rem;
                    width: 100%;
                }
            }
        }
    }
}
